<div class="blog" id="blog">
    <div class="container">
        <h2 class="blog__title title">
            Блог
        </h2>
        <ul class="blog__list">
            <li class="blog__item">
                <img class="blog__image" src="images/blog/image1.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>
            <li class="blog__item">
                <img class="blog__image" src="images/blog/image2.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>
            <li class="blog__item">
                <img class="blog__image" src="images/blog/image3.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>

            <li class="blog__item">
                <img class="blog__image" src="images/blog/image1.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>
            <li class="blog__item">
                <img class="blog__image" src="images/blog/image2.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>
            <li class="blog__item">
                <img class="blog__image" src="images/blog/image3.jpg" alt="будущее в 3Д дизайне" width="340"
                    height="240">
                <h3 class="blog__item-title">
                    The future of 3D design
                </h3>
                <span class="blog__item-subtitle">
                    4 months ago
                </span>                
            </li>

        </ul>
        <button class="blog__button button" type="button">
            Читать Больше
        </button>
    </div>
</div>