<div class="design" id="design">
    <div class="container">
        <div class="design__inner">
            <div class="design__content">
                <img class="design__image" src="images/decor/image2.png" alt="Дизайн" width="430" height="430">
            </div>

            <div class="design__text">
                <h2 class="design__title title">
                    Дизайн
                </h2>
                <ul class="design__list">
                    <li class="design__item">
                        Дизайн Сайтов
                    </li>
                    <li class="design__item">
                        Дизайн Лого и Фирменного стиля
                    </li>
                    <li class="design__item">
                        Дизайн Интерфейсов UI/UX
                    </li>
                    <li class="design__item">
                        Дизайн Мобильных приложений
                    </li>
                </ul>
                <a class="design__button button">
                    Узнать Больше
                </a>
            </div>
            
        </div>

    </div>
</div>