<header class="header">
    <div class="container">
        <div class="header__top">
            <a class="logo" href="#">
                <img class="logo__img" src="images/Logo.svg" alt="логотип" width="286" height="36">
            </a>

            <div class="scrolltop _hide">
                <svg class="scrolltop__icon">
                    <use xlink:href="images/sprite.svg#up"></use>
                </svg>

            </div>

            <button class="burger" type="button"> 
                <span class="burger__line"></span>
                <span class="sr-only">Мобильное меню</span>
               </button>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item active">
                        <a class="menu__link" href="#design" data-where="anchor">
                            Дизайн
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#coding" data-where="anchor">
                            Разработка
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#marketing" data-where="anchor">
                            SMM
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#portfolio" data-where="anchor">
                            Портфолио
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#blog" data-where="anchor">
                            Блог
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#about" data-where="anchor">
                            О нас
                        </a>
                    </li>
                </ul>
                <a class="menu__button" href="#">
                    Хочу начать
                </a>

                <div class="menu__lang">
                    <button class="menu__lang-button" type="button">
                        <span class="sr-only">открыть меню для выбора языка интерфейса</span>
                    </button>
                    <ul class="menu__lang-list lang">
                        <li class="lang__item active" data-lang="ua">
                            UA
                        </li>
                        <li class="lang__item" data-lang="ru">RU</li>
                        <li class="lang__item" data-lang="en">EN</li>
                    </ul>
                </div>

                <div class="menu__lang_mobile">
                    <ul class="menu__lang-list lang">
                        <li class="lang__item" data-lang="ua">
                            UA
                        </li>
                        <li class="lang__item" data-lang="ru">RU</li>
                        <li class="lang__item" data-lang="en">EN</li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>