<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="portfolio__title title">
            Портфолио
        </h2>

        <div class="portfolio__filter">
            <button class="portfolio__button active" type="button" data-target="all">
                Все проекты
            </button>
            <button class="portfolio__button" type="button" data-target="design">
                Дизайн
            </button>
            <button class="portfolio__button" type="button" data-target="code">
                Разработка
            </button>
            <button class="portfolio__button" type="button" data-target="smm">
                SMM
            </button>      
        </div>

        <div class="portfolio__content">
            <ul class="portfolio__list">
                <li class="portfolio__item" data-item="code">
                    <img class="portfolio__image" src="images/porto/code1.jpg" alt="Разработка" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        CIVIC
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Civic Financial Services
                    </span>
                </li>
                <li class="portfolio__item" data-item="code">
                    <img class="portfolio__image" src="images/porto/code2.jpg" alt="Разработка" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        CIVIC
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Civic Financial Services
                    </span>
                </li>
                <li class="portfolio__item" data-item="code">
                    <img class="portfolio__image" src="images/porto/code3.jpg" alt="Разработка" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        CIVIC
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Civic Financial Services
                    </span>
                </li>
                <li class="portfolio__item" data-item="code">
                    <img class="portfolio__image" src="images/porto/code4.jpg" alt="Разработка" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        CIVIC
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Civic Financial Services
                    </span>
                </li>
                <li class="portfolio__item" data-item="design">
                    <img class="portfolio__image" src="images/porto/des1.jpg" alt="Дизайн" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        LOVE GOODLY
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Love Goodly eCommerce Website
                    </span>
                </li>
                <li class="portfolio__item" data-item="design">
                    <img class="portfolio__image" src="images/porto/des2.jpg" alt="Дизайн" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        LOVE GOODLY
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Love Goodly eCommerce Website
                    </span>
                </li>
                <li class="portfolio__item" data-item="design">
                    <img class="portfolio__image" src="images/porto/des3.jpg" alt="Дизайн" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        LOVE GOODLY
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Love Goodly eCommerce Website
                    </span>
                </li>
                <li class="portfolio__item" data-item="design">
                    <img class="portfolio__image" src="images/porto/des4.jpg" alt="Дизайн" width="340"
                        height="240">
                    <h3 class="portfolio__item-title">
                        LOVE GOODLY
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Love Goodly eCommerce Website
                    </span>
                </li>
                <li class="portfolio__item" data-item="smm">
                    <img class="portfolio__image" src="images/porto/smm1.jpg" alt="СММ" width="340" height="240">
                    <h3 class="portfolio__item-title">
                        WEDGEWOOD
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Real Estate Industry
                    </span>
                </li>
                <li class="portfolio__item" data-item="smm">
                    <img class="portfolio__image" src="images/porto/smm2.jpg" alt="СММ" width="340" height="240">
                    <h3 class="portfolio__item-title">
                        WEDGEWOOD
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Real Estate Industry
                    </span>
                </li>
                <li class="portfolio__item" data-item="smm">
                    <img class="portfolio__image" src="images/porto/smm3.jpg" alt="СММ" width="340" height="240">
                    <h3 class="portfolio__item-title">
                        WEDGEWOOD
                    </h3>
                    <span class="portfolio__item-subtitle">
                        Real Estate Industry
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>