<div class="coding" id="coding">
    <div class="container">
        <div class="coding__inner">
            <div class="coding__content">
                <img class="coding__image" src="../../images/decor/image3.png" alt="Разработка" width="430" height="430">
            </div>

            <div class="coding__text">
                <h2 class="coding__title title">
                    Разработка
                </h2>
                <ul class="coding__list">
                    <li class="coding__item">
                        Создание сайтов и сложных CRM
                    </li>
                    <li class="coding__item">
                        Создание интернет магазинов
                    </li>
                    <li class="coding__item">
                        Создание мобильных приложений
                    </li>
                    <li class="coding__item">
                        Обслуживание и поддержка сайтов
                    </li>
                </ul>
                <button class="coding__button button">
                    Узнать Больше
                </button>
            </div>

        </div>
    </div>
</div>