<div class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__text">
                <h1 class="hero__title title">
                    Превращаем ваши идеи в крутые продукты
                </h1>
                <a class="hero__button button">
                    Начнем Превращение
                </a>
            </div>
            <img class="hero__image" src="../../images/decor/image1.png" alt="геометрические фигуры" width="566"
                height="410">
        </div>
    </div>
</div>