<div class="marketing" id="marketing">
    <div class="container">
        <div class="marketing__inner">
            <div class="marketing__content">
                <img class="marketing__image" src="../../images/decor/image4.png" alt="SMM" width="470" height="430">
            </div>

            <div class="marketing__text">
                <h2 class="marketing__title title">
                    SMM
                </h2>
                <ul class="marketing__list">
                    <li class="marketing__item">
                        Продвижение Личной страницы
                    </li>
                    <li class="marketing__item">
                        Продвижение Бизнес страницы
                    </li>
                    <li class="marketing__item">
                        Создание контента для страниц
                    </li>
                    <li class="marketing__item">
                        Создание контент плана
                    </li>
                </ul>
                <a class="marketing__button button">
                    Узнать Больше
                </a>
            </div>
            
        </div>

    </div>
</div>